<div class="col-xs-12 col-md-4 schedule-at-a-glance  schedule-glance">
  <div class='box-content'>  
    <div class='box-content-title blue'>     
      <h4>Schedule at a glance</h4>
    </div>    

    <div class='content'>    
      <ul>

        <li class='date-row'>
          Today | Sunday, November 9th
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='date-row'>
          Tomorrow | Monday, November 11th
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class='schedule-row'>
          <ul>
            <li class='time-range'>
              <span class='start-time'>12:00 pm</span>
              <span class='time-divider'>-</span>
              <span class='start-time'>1:00 pm</span>
            </li>
            <li class='details'>
              <ul>
                <li class='client-service'>
                  <span>Cristy Olson, </span> 
                  <span>Cut and Color</span>
                </li>
                <li class='service-instructor'>
                  with Lindsay Culver
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>