<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class='box-content'>       
      <h4>Schedule at a glance</h4>       
      <hr>     
      <ul>
        <li>
          <ul>
            <li class='time-date'>test</li>
            <li class='details'>test</li>
          </ul>
        </li>
        <li>
          <ul>
            <li class='time-date'>test</li>
            <li class='details'>test</li>
          </ul>
        </li>
        <li>
          <ul>
            <li class='time-date'>test</li>
            <li class='details'>test</li>
          </ul>
        </li>
        <li>
          <ul>
            <li class='time-date'>test</li>
            <li class='details'>test</li>
          </ul>
        </li>
        <li>
          <ul>
            <li class='time-date'>test</li>
            <li class='details'>test</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-md-2">
    <div class='box-content'>       
      <h4 class='turquoise'>Clients served</h4>       
      <hr>     
      205
    </div>
  </div>

  <div class="col-xs-12 col-md-2">
    <div class='box-content'>       
      <h4 class='brick'>Yesterday Revenue</h4>       
      <hr>     
      10500
    </div>
  </div>

  <div class="col-xs-12 col-md-2">
    <div class='box-content'>       
      <h4 class='violet'>New Clients</h4>       
      <hr>     
      205
    </div>
  </div>

  <div class="col-xs-12 col-md-2">
    <div class='box-content'>       
      <h4 class='violet'>New Clients</h4>       
      <hr>     
      205
    </div>
  </div>     


  <div class="col-xs-12 col-md-4">
    <div class='box-content'>       
      <h4>Staff Message Board</h4>       
      <hr> 
      <ul>
        <li>Donna: anyone want to switch a shift with me, next Saturday? #hotdate</li>
        <li>Jackie: I can! Let's talk later </li>
      </ul>
    </div>
  </div>  

  <div class="col-xs-12 col-md-4">
    <div class='box-content'>       
      <h4>To do list</h4>       
      <hr>
      <form>  
        <textarea class="" id="to-do-add" name="" placeholder="Start typing a to do item here..." 
        style="overflow: hidden; word-wrap: break-word; resize: none; height: 30px; width:100%; border: 0"></textarea>
      </form> 
      Acquire puppy<br>
      Acquire mini pig
      
      <br>
      <br>
      <br>
      <section>
        <h4>My Notes</h4>       
        <hr> 
        <div id='staff-notes' contenteditable="true">    
          One free puppy available upon request<br>
          Mini pigs are also available to those who ask<br>
          Click here to edit and add notes
        </div>
      </section>
    </div>
  </div>        
</div>            
