<% content_for :page_title do %>
  <h2 class='page-title'>Dashboard</h2>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class='box-content'>       
      <h4 class='turquoise'>Clients through-the-door</h4>       
      <hr>     
      Today | This Week | This Month | This Year
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class='box-content'>       
      <h4 class='brick'>Yesterday Revenue</h4>       
      <hr>     
      Bacon ipsum dolor sit amet flank short loin venison bresaola
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class='box-content'>       
      <h4 class='violet'>New Clients</h4>       
      <hr>     
      Today | This Week | This Month | This Year
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class='box-content'>       
      <h4 class='carrot'>Something great</h4>       
      <hr>     
      Bacon beef chicken andouille pork chop rump turducken
    </div>
  </div>
</div>         

<div class="row">
  <div class="col-xs-12 col-md-6">
      <div class='box-content'>       
        <h4>Schedule at a glance</h4>       
        <hr>     
        <ul>
          <li>
            <ul>
              <li class='time-date'></li>
              <li class='details'></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class='time-date'></li>
              <li class='details'></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class='time-date'></li>
              <li class='details'></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class='time-date'></li>
              <li class='details'></li>
            </ul>
          </li>
          <li>
            <ul>
              <li class='time-date'></li>
              <li class='details'></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class='box-content'>       
        <h4>To do list</h4>       
        <hr>     
        Acquire puppy <h4>
        Acquire mini pig
      </div>
    </div> 
    <div class="col-xs-12 col-md-3">
      <div class='box-content'>       
        <h4>Notepad</h4>       
        <hr>     
        I love working at this salon
      </div>
    </div>         
  </div>            
</div>