<div class="row dashboard-widgets">

  <div class="widget lg-widget col-xs-12 col-md-6 message-board">
    <div class='box-content'>       
      <div class='box-content-title'>     
        <h4>Staff message board</h4>
      </div>       
    </div>
  </div> 

  <div class="col-xs-12 col-md-6 parent-column">
    <div class="widget sm-widget col-xs-12 col-md-12 col-lg-6 to-do nested-column">
      <div class='box-content'>       
        <div class='box-content-title'>     
          <h4>To do list</h4>
        </div>             
      </div>
    </div> 
        
    <div class="widget sm-widget col-xs-12 col-md-12 col-lg-6 notepad nested-column">
      <div class='box-content'>  
        <div class='box-content-title'>     
          <h4>Notepad</h4>
        </div>         
      </div>
    </div>

    <div class="widget md-widget col-xs-12 col-md-12 notifications nested-column">
      <div class='box-content'>  
        <div class='box-content-title'>     
          <h4>Notifications</h4>
        </div>       
      </div>
    </div>
  </div>      
</div>            
