<div class='content'>    
  <ul>
    <li class='date-row'>
      Today | Sunday, November 9th
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='service-instructor'>
              <span>Lindsay Culver,</span>
              <span>Cut and Color</span>
            </li>
            <li class='client-service'>
              <span>for Donna Client</span>              
            </li>
            
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='date-row'>
      Tomorrow | Monday, November 11th
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class='schedule-row'>
      <ul>
        <li class='time-range'>
          <span class='start-time'>12:00 pm</span>
          <span class='time-divider'>-</span>
          <span class='start-time'>1:00 pm</span>
        </li>
        <li class='details'>
          <ul>
            <li class='client-service'>
              <span>Cristy Olson, </span> 
              <span>Cut and Color</span>
            </li>
            <li class='service-instructor'>
              with Lindsay Culver
            </li>
          </ul>
        </li>
      </ul>
    </li>

  </ul>
</div>