/* 
CSS RESET 
----------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
PAGE STYLES
----------------------------------------------
*/

html {
	height: 100%;
	width: 100%;
}

#page-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

#nav-menu a,
#top-bar a {
	color: #666;
	height: 50px;
}
/* 
TOP CONTENT NAV
----------------------------------------------
*/

header#top-bar {
	position: relative;
	font-size: 1.1em;
	margin-left: 220px;
	height: 50px;
	background-color: #E7E7E7;
	transition: margin .33s;
}

header#top-bar.collapsed {
	margin-left: 4px;
	position: relative;
	transition: margin .4s;
}

#brand {
	width: 220px;
	float: left;
	text-align: center;
}

#brand h1 {
	line-height: 50px;
	padding-left: 10px;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

/* 
VERTICAL-LEFT NAV MENU
----------------------------------------------
*/

#nav-menu {
  width: 220px;
  height: 100%;
  background-color: #F7F7F7;
  color: #00B4FF;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  border-right: 1px solid #E7E7E7;
  box-sizing: border-box;
  transition: .33s;
}

#nav-menu.collapsed {
	width: 50px;
	transition: all .4s;
}

/* 
NAV MENU LINKS
----------------------------------------------
*/

#nav-menu .nav-link {
  border-bottom: 1px solid transparent;
}

#nav-menu .nav-link,
#nav-menu .brand
 {
  width: 220px;
  position: relative;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;  
  transition: width .35s;
  white-space: nowrap;
}

#nav-menu li:hover {
  background-color: #EEE;
}

/* Expanded sidebar, active link */
#nav-menu .nav-link:nth-child(n+2).active {
  color: #f78d1e;
  font-weight: 700;
  border-bottom: 1px solid #E7E7E7;  
  background-color: white;
  transition: width .33s;
  width: 220px;
}

/* The top most item should not get a top border */
#nav-menu .nav-link:nth-child(n+3).active {
	border-top: 1px solid #E7E7E7;
} 

#nav-menu.collapsed .nav-link:nth-child(n+2).active {
	width: 50px;
	transition: width .4s;
}

#nav-menu.collapsed .nav-link:nth-child(n+2) {
	width: 50px;
	transition: width .4s;
}

.nav-link > a,
.brand > a {
  position: relative;
  text-decoration: none;
  display: inline;
  line-height: 50px;
  padding-left: 50px;
  color: #666;
  display: block;
}

.brand > a {
	padding-left: 5px;
}

.nav-link.active a {
  color: orange;
}

#nav-menu .nav-link a:hover,
#top-bar a:hover {
	text-decoration: none;
}

#nav-menu .nav-link:first-child.active {
  border-top: 1px solid white;
}

#nav-menu .nav-link span {
	font-size: 1em;
}

.nav-link a {
	overflow: hidden;
}

#nav-menu .nav-link:nth-child(2) {
	border-top: 0 !important;
}

#link-list > li.brand {
	background-color: #E7E7E7;
	border-top: none;
}

#link-list .brand a:hover {
	text-decoration: none;
}

#nav-menu .brand:hover {
	cursor: default;
}

#nav-menu #link-list a:hover,
#nav-menu #link-list span:hover {
	cursor: inherit;
}

#link-list .brand .name {
	float: right;
	position: relative;
	top: 6px;
	left: -56px;
	color: #0EBFE9;	
	font-size: 40px;
	font-family: 'Great Vibes', serif;
}

#link-list .line {
	margin: 15px 20px;
	border-top: 1px solid #E7E7E7;
}

.nav-link.active .highlight {
	height: 100%;
	width: 4px;
	position: absolute;
	left: 0;
	background-color: orange;
	height: 100%;
}

/* 
SIDEBAR PIN NAV 
----------------------------------------------
*/

#nav-pin {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 2px;
	height: 11px;
	width: 11px;
	border: 1px solid #3399FF;
	border-radius: 50%;
}

#nav-pin.selected {
	background-color: #3399FF;
}

/* 
HEADER CLIENT LOOKUP
----------------------------------------------
*/
#search {
	width: 300px;
	float: left;
	margin-top: 6px;
	position: relative;
}

#search .form-control {
	border-radius: 0;
}


input.form-control {
	width: 350px;
}


#client-lookup {
	border: none;
	height: 37px;
	width: 300px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
}

#client-lookup:focus {
	box-shadow: none;
	border-color: #E7E7E7;
}

/* 
ICONS
----------------------------------------------
*/

.nav-link .icon,
.brand .icon
 {
	background-image: url("assets/spriteGrid2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
	display: block;
	margin: 10px 0 10px 0;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	left: 10px;
}

.nav-link .icon.dashboard {
	background-position: -8px -6px;
}

.nav-link .icon.reports {
	background-position: -8px -260px;
}

.nav-link .icon.class {
	background-position: -8px -49px;
}

.nav-link .icon.workshop {
	background-position: -8px -90px;
}

.nav-link .icon.appointment {
	background-position: -8px -133px;
}

.nav-link .icon.retail {
	background-position: -8px -301px;
}

.nav-link .icon.room {
	background-position: -8px -344px;
}

.nav-link .icon.home {
	background-position: -8px -6px;
}

.nav-link.active .icon.home {
	background-position: -50px -6px;
}

.nav-link.active .icon.reports {
	background-position: -50px -260px;
}

.nav-link.active .icon.class {
	background-position: -50px -49px;
}

.nav-link.active .icon.workshop {
	background-position: -50px -90px;
}

.nav-link.active .icon.appointment {
	background-position: -50px -133px;
}

.nav-link.active .icon.retail {
	background-position: -50px -301px;
}

.nav-link.active .icon.room {
	background-position: -50px -344px;
}

/* 
SIDEBAR TOGGLE BUTTON
----------------------------------------------
*/

.nav-toggle {
	display: block;
	padding: 4px 9px;
	cursor: pointer;
	border-radius: 3px;
	color: #999;
	border: 1px solid #CCC;
	cursor: pointer;
	position: absolute;
	bottom: 25px;
	right: 12px;
}

/* 
STAFF USER PANEL
----------------------------------------------
*/

#user-panel {
	float: right;
	line-height: 50px;
	padding-right: 45px;
	text-decoration: none;
}

#current-user .name {
	font-weight: 700;
}

/* 
SIDEBAR HOVER MENUS
----------------------------------------------
*/

.nav-link ul {
	display: none;
	width: 220px;	
	background-color: #EEE;
	line-height: 2em;
	color: #666;
	transition: all .2s;
}

.nav-link > ul > li {
	padding: 5px 0 5px 15px;
}

.nav-link ul li:hover {
	background-color: #E7E7E7 !important;
}

.collapsed .nav-link ul {
	display: none;
	width: 220px;
	position: absolute;
	top: 0;
	left: 50px;
	background-color: #EEE;
	line-height: 2em;
	cursor: pointer;
}

.collapsed  .nav-link ul li {
	padding: 5px;
}

.collapsed  .nav-link ul li:hover {
	background-color: #E7E7E7 !important;
}

/* 
DEBUGGING
----------------------------------------------
*/

.menu-debugging {
	position: absolute;
	right: 0; bottom: 0;
	margin: auto;
	height: 200px;
	width: 300px;
	font-weight: 900;
	padding: 20px;
	border: 1px solid #555;
}