/* 
DEBUGGING
----------------------------------------------
*/

.menu-debugging {
	position: absolute;
	right: 0; bottom: 0;
	margin: auto;
	height: 200px;
	width: 300px;
	font-weight: 900;
	padding: 20px;
	border: 1px solid #555;
}

/* 
PAGE STYLES
----------------------------------------------
*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f8fa;
}

#body-wrapper {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transition: .4s;
}

#body-wrapper.cart-open {
	right: 400px;
	transition: .4s;
}

#lower-wrapper {
	position: absolute;
	top: 50px;
	right: 0;	
	bottom: 0;
	left: 0;
	transition: .4s;
}

#lower-wrapper.nav-collapsed.cart-expanded {
	left: 0;
}

a:hover, a:focus {
	color: #555;
	text-decoration: none;
}

#main-content {
 	position: relative; 
	height: 100%;
	margin-left: 240px;
	transition: .33s;
	background-color: inherit;
	z-index: 1000;
}

#main-content.expanded {
	margin-left: 50px;
	transition: .33s;
}

.page-title {
	color: #444;
	text-transform: capitalize;
	font-size: 1.8em;
	font-weight: 300;
	margin: 0 0 0 15px;
	float: left;
	line-height: 50px;
}

.content-top {
	height: 60px;
}

ul {
	padding: 0; 
	list-style-type: none;
}

/* 
HEADER
----------------------------------------------
*/

header a,
header i {
	color: #4683ea;
	cursor: pointer;
}

header a:hover,
header i: hover {
	color: white;
	cursor: pointer;
}

header#top-bar {
	height: 50px;
	width: 100%;
	padding-right: 60px;
	top: 0;
	font-size: 1.1em;
	background-color: white;
	transition: margin .33s;
	margin-bottom: 20px;
	border-bottom: 2px solid #eee;
}

header .brand {
	width: 250px;
	height: 50px;
	float: left;
}

header .brand .name {
	display: block;
	padding: 4px 0 0 10px;
	color: #4683ea;	
	font-size: 40px;
	font-family: 'Great Vibes', serif;
}

/* 
STAFF USER PANEL
----------------------------------------------
*/

#user-panel a,
#user-panel i {
	line-height: 50px;
}

#user-panel {
	float: right;
	position: relative;
	padding-right: 60px;
	text-decoration: none;
}

#current-user .name {
	font-weight: 700;
}

#user-panel > div {
	float: left;
	margin-right: 15px;
}

.cart-icon {
	position: absolute;
	overflow: hidden;
	top: 5px;
	right: 25px;	
	line-height: 50px;
	vertical-align: midde;
	z-index: 999;
}

.cart-icon .fa-shopping-cart {
	font-size: 1.8em;
}

.cart-wrapper {
	top: 10px;
	position: relative;
}

#cart-slider {
	display: block;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #e6e7e8;
	transition:  .4s;
	overflow: hidden;
	z-index: 998;
}

/* #cart-slider.expanded {
	width: 400px;
	transition: .4s;
} */

/* 
LEFT SIDEBAR
----------------------------------------------
*/

#nav-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: #e6e7e8;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  transition: .33s;
}

#nav-menu.collapsed {
	width: 50px;
	transition: all .33s;
}

/* 
SIDEBAR LINKS
----------------------------------------------
*/

#nav-menu .nav-link {
  width: 240px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;  
  -webkit-transition: width .33s, background-color .13s, border .13s;
  transition: width .33s, background-color .13s, border .13s;
  white-space: nowrap;
  overflow: hidden;
}

#nav-menu .nav-link.active {
  font-weight: 700;
  -webkit-transition: width .33s, background-color .13s, border .13s;
  transition: width .33s, background-color .13s, border .13s;
  width: 240px;
}

#nav-menu.collapsed .nav-link {
	width: 50px;
	transition: width .33s;
}

.nav-link > a {
  position: relative;
  text-decoration: none;
  display: inline;
  color: #444;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 7px 15px;
  font-size: .97em;
  line-height: 20px;
  overflow: hidden;
}

#nav-menu .nav-link.active a {
  color: white;
  box-sizing: border-box;
  border-top: 5px solid #f7f8fa;
  border-bottom: 5px solid #f7f8fa;
  background: #2980B9;
}

#nav-menu.collapsed .nav-link.active a {
  color: #fff;
  background: #2980B9;
}

#nav-menu .nav-link:hover {
  background-color: #ddd;
  text-decoration: none;
}

#nav-menu .nav-link.active:hover {
  background-color: #f7f8fa;
}

#nav-menu .nav-link span {
	font-size: 1em;
}

#nav-menu #link-list a:hover,
#nav-menu #link-list span:hover {
	cursor: inherit;
}

#link-list .line {
	margin: 15px 20px;
	border-top: 1px solid #ccc;
}

#link-list .line.search {
	margin: 0 20px 15px;
	border-top: 1px solid #ccc;
}

.nav-link.active .highlight {
	height: 100%;
	width: 4px;
	position: absolute;
	left: 0;
	background-color: #f78d1e;
}

.nav-link .title {
	text-transform: uppercase;
}

/* 
SIDEBAR SUBLINKS
----------------------------------------------
*/

.sub-links li {
	font-weight: 400;
	box-sizing: border-box;
}

.sub-links li.active {
	font-weight: 600;
	color: #222;
}

/* 
COLLAPSED SIDEBAR SUBMENUS
----------------------------------------------
*/

.nav-link ul {
	display: none;
	width: 240px;	
	background-color: #f7f8fa;
	line-height: 2em;
	color: #666;
}

.nav-link > ul > li {
	padding: 5px 0 5px 51px;
	font-size: 14px;
}

.nav-link > ul > li:hover {
	background-color: #ddd;
}

#nav-menu.collapsed .nav-link {
	overflow: visible;
}

.collapsed .nav-link ul {
	display: none;
	width: 240px;
	position: absolute;
	top: 0; 
	left: 50px;
	line-height: 2em;
	cursor: pointer;
	border-radius: 0 5px 8px 0;
	z-index: 1000;
}

.collapsed .nav-link:hover ul {
	display: block !important;
}

.collapsed .nav-link.has-sub ul {
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-left: 1px solid #f7f8fa;
	background-color: rgba(247, 248, 250, 0.93);
}

.collapsed .nav-link ul li {
	padding: 5px;
	padding-left: 14px;
	text-transform: capitalize;
}

/* 
ICONS
----------------------------------------------
*/

.nav-link .icon {
	background-image: url("assets/spriteGrid2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
	display: block;
	margin: 10px 0 10px 0;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	left: 10px;
}

.nav-link .icon.dashboard {
	background-position: -7px -6px;
}

.nav-link .icon.reports {
	background-position: -7px -260px;
}

.nav-link .icon.class {
	background-position: -7px -49px;
}

.nav-link .icon.workshop {
	background-position: -7px -90px;
}

.nav-link .icon.appointment {
	background-position: -7px -133px;
}

.nav-link .icon.retail {
	background-position: -7px -301px;
}

.nav-link .icon.room {
	background-position: -7px -344px;
}

.nav-link .icon.home {
	background-position: -7px -6px;
}

.nav-link.active .icon.home {
	background-position: -49px -6px;
}

.nav-link.active .icon.reports {
	background-position: -49px -260px;
}

.nav-link.active .icon.class {
	background-position: -49px -49px;
}

.nav-link.active .icon.workshop {
	background-position: -49px -90px;
}

.nav-link.active .icon.appointment {
	background-position: -49px -133px;
}

.nav-link.active .icon.retail {
	background-position: -49px -301px;
}

.nav-link.active .icon.room {
	background-position: -49px -344px;
}

.nav-link .fa {
	font-size: 1.4em;
	/*color: rgba(0,0,0,0.5);*/
} 

/* 
SIDEBAR PIN NAV (AUTO SIDEBAR TOGGLE)
----------------------------------------------
*/

#nav-pin {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 2px;
	height: 11px;
	width: 11px;
	border: 1px solid #3399FF;
	border-radius: 50%;
}

#nav-pin.selected {
	background-color: #3399FF;
}

/* 
SIDEBAR TOGGLE BUTTON
----------------------------------------------
*/

#nav-menu .nav-toggle {
	display: block;
	padding: 4px 9px;
	cursor: pointer;
	border-radius: 3px;
	color: #999;
	cursor: pointer;
	position: absolute;
	top: auto;
	bottom: 25px;
	left: auto;
	right: 12px;
}

.collapsed .has-sub:after {
	opacity: 0;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub:after {
	font-family: FontAwesome;
	font-weight: 500;
	color: #4683ea;
	content: "\f104";
	display: block;
	position: absolute;
	right: 12px;
	top: 14px;
	opacity: 1;
	transform: rotate(0deg);
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub.active:after {
	color: white;
}

.has-sub.down-arrow:after {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/* 
BOX CONTENT
---------------------------------------------
*/

.box-content {
	padding: 15px;
	background-color: white;
	border: 1px solid #ddd;
}

.box-content h4 {
	margin: 0;
}

.box-content hr {
	margin-top: 12px;
	margin-bottom: 12px;
}

#nav-menu .nav-icon {
	margin-right: 14px;
}

.sub-links li:first-child {
	display: none;
}

.collapsed .sub-links li:first-child {
	display: block;
	background-color: #ddd;
	color: #0173c5;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 24px;
	border-top: 5px solid #ddd;
	border-bottom: 5px solid #ddd;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.collapsed .nav-link.active .sub-links li:first-child {
	margin: 5px 0;
	color: white;
	font-weight: 600;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0;
	border: 0;
	background: #2980B9;
}

.nav-link i {
	font-size: 16px;
}

.sidebar-search input {
	width: 100%;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.sidebar-search input:focus {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.brand-tile {
	position: relative;
	overflow: hidden;
	height: 50px;
	background-color: #f7f8fa;
	border-bottom: 2px solid #dfdfdf;
	overflow: visible;
}

#brand-content-wrapper > span {
	white-space: nowrap;
}

#staff-initials {
	visibility: hidden;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	color: #0e6ead;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	opacity: 0;
}

.collapsed #staff-initials {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s;
}

.collapsed #staff-initials:hover {
	cursor: pointer !important;
}

#brand-name,
#staff-name {
	display: block;
	padding-left: 9px;
}
#brand-name {
	color: #0e6ead;
	font-size: 1.1em;
	font-weight: 600;
}

#staff-name {
	color: #666;
	cursor: pointer !important;
}

#nav-menu #staff-name:hover {
	color: #555;
}

#brand-content-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	transition: opacity .5s;
}

.collapsed #brand-content-wrapper {
	opacity: 0;
	transition: opacity 0s;
}

#main-content.cart-expanded {
	margin-right: 400px;
	transition: .4s;
}

#cart-slider h2 {
	margin: 0;
	padding-left: 15px;
	color: #333;
	background-color: #f7f8fa;
	text-transform: capitalize;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 48px;
	border-bottom: 2px solid #dfdfdf;
}

.client-lookup-icon {
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	z-index: 2;
}

.client-lookup-icon:focus {
	border: 0;
	box-shadow: 0;
	outline: none;
}

.client-lookup-icon .fa {
	float: right;
	line-height: 50px;
	cursor: pointer;
}

.client-lookup-wrapper {
	float: right;
	height: 48px;
	padding-right: 20px;
}

.client-lookup-wrapper input {
	position: relative;
	right: -35px;
	display: none;
	float: right;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: #f3f3f3;
	z-index: 1;
}

.form-group {
	height: 100%;
}

.client-lookup-wrapper .form-control {
	height: 38px;
	margin: 5px 0;
}

.client-lookup-wrapper .form-control:focus {
	box-shadow: none;
	border: 0;
}

/* 
HEADER CLIENT LOOKUP
----------------------------------------------
*/

input.form-control {
	width: 300px;
}

/* .nav-link.active > a:after {
width: 0px;
height: 0px;
border-style: solid;
border-width: 9px 9px 9px 0;
border-color: transparent #f7f8fa transparent transparent;
content: "";
position: absolute;
top: 50%;
margin-top: -9px;
right: 0px;
 */

#staff-name:after {
	font-family: FontAwesome;
	font-weight: 500;
	color: #4683ea;
	content: "\f0d7";
	padding-left: 4px;
}

.brand-tile .dropdown {
	display: none;
	position: absolute;
	min-width: 240px;
	background: white;
	margin-top: 10px;
	top: 38px;
	border: 1px solid #999;
	border-radius: 2px;
	z-index: 1001;
}

.brand-tile .dropdown:before {
	content: "";
	position: absolute;
	top: -8px;
	left: 15px;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #0066b0 ;
}

.dropdown li a {
	display: block;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.dropdown li a:hover {
	background-color: #efefef;
}

.dropdown li a:hover {
	cursor: pointer !important;
}

.dropdown hr {
	padding: 0;
	margin: 0;
}

