/*

MINDBODY Brand Colors:

gray: 696c74
orange: f68f1e

*/


/* 
DEBUGGING
----------------------------------------------
*/

.menu-debugging {
	position: absolute;
	right: 0; bottom: 0;
	margin: auto;
	height: 200px;
	width: 300px;
	font-weight: 900;
	padding: 20px;
	border: 1px solid #555;
}

/* 
PAGE STYLES
----------------------------------------------
*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f8fa;
}

#body-wrapper {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transition: .4s;
}

#body-wrapper.cart-open {
	right: 400px;
	transition: .4s;
}

#lower-wrapper {
	position: absolute;
	top: 50px;
	right: 0;	
	bottom: 0;
	left: 0;
	width: 100%;
	transition: .4s;
}

#lower-wrapper.shift-left {
	left: -240px;
	transition: .4s;
}

#nav-menu a {
	padding: 12px 15px;
}

a:hover, a:focus {
	color: #555;
	text-decoration: none;
}

#main-content {
	padding: 15px;
	margin-left: 240px;
	transition: .33s;
}

#main-content.expanded {
	margin-left: 50px;
	transition: .33s;
}

#main-content .page-title {
	text-transform: capitalize;
	font-size: 1.8em;
	font-weight: 300;
}

.content-top {
	height: 60px;
}

ul {
	padding: 0; 
	list-style-type: none;
}

/* 
HEADER
----------------------------------------------
*/

header a,
header i {
	color: #08c;
	cursor: pointer;
}

header a:hover,
header i: hover {
	color: white;
	cursor: pointer;
}

header#top-bar {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	font-size: 1.1em;
	background-color: white;
	border-bottom: 2px solid #ddd;
	/* background-color: #368ee0; */
	transition: margin .33s;
}

header .brand {
	width: 250px;
	height: 50px;
	float: left;
}

header .brand .name {
	display: block;
	padding: 4px 0 0 10px;
	color: #08c;	
	font-size: 40px;
	font-family: 'Great Vibes', serif;
}

/* 
HEADER CLIENT LOOKUP
----------------------------------------------
*/
#search {
	display: none;
	width: 300px;
	float: left;
	margin-top: 6px;
	position: relative;
}

#search .form-control {
	border-radius: 0;
}

input.form-control {
	width: 350px;
}


#client-lookup {
	border: none;
	height: 37px;
	width: 300px;
	background-color: #F7F7F7;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
}

#client-lookup:focus {
	box-shadow: none;
	border-color: #E7E7E7;
}

/* 
STAFF USER PANEL
----------------------------------------------
*/

#user-panel a,
#user-panel i {
	line-height: 50px;
}

#user-panel {
	float: right;
	position: relative;
	padding-right: 25px;
	text-decoration: none;
}

#current-user .name {
	font-weight: 700;
}

#user-panel > div {
	float: left;
	margin-right: 15px;
}

.cart {
	float: right;
	position: relative;
	margin-right: 20px;
	height: 50px;	
}

.cart-wrapper {
	top: 8px;
	position: relative;
}

#cart-slider {
	display: block;
	height: 100%;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .9);
	border-left: 2px solid #ccc;
	transition:  .4s;
	z-index: 1000;
}

#cart-slider.expanded {
	width: 400px;
	transition: .4s;
}

/* 
LEFT SIDEBAR
----------------------------------------------
*/

#nav-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: #e6e7e8;
  color: #00B4FF;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  transition: .33s;
}

#nav-menu.collapsed {
	width: 50px;
	transition: all .33s;
}

/* 
SIDEBAR LINKS
----------------------------------------------
*/

#nav-menu .nav-link {
  width: 240px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;  
  -webkit-transition: width .33s, background-color .13s, border .13s;
  transition: width .33s, background-color .13s, border .13s;
  white-space: nowrap;
  overflow: hidden;
}

#nav-menu .nav-link.active {
  font-weight: 700;
  b/*ackground-color: #f7f8fa;*/
  -webkit-transition: width .33s, background-color .13s, border .13s;
  transition: width .33s, background-color .13s, border .13s;
  width: 240px;
}

#nav-menu.collapsed .nav-link {
	width: 50px;
	transition: width .33s;
}

.nav-link > a {
  position: relative;
  text-decoration: none;
  display: inline;
  padding-left: 50px;
  color: #666;
  display: block;
}

#nav-menu .nav-link.active a {
  color: #08C;
  background-color: #f7f8fa;
  border-left: 5px solid #f68f1e;
  padding-left: 10px;
  box-sizing: border-box;
}

#nav-menu.collapsed .nav-link.active a {
  color: #fff;
  background-color: #08c;
  border-left: 5px solid transparent;
}

/*#nav-menu .nav-link.active i {
	color: #08C;
}*/

#nav-menu .nav-link:hover {
  background-color: #ddd;
  text-decoration: none;
}

#nav-menu .nav-link.active:hover {
  background-color: #f7f8fa;
}

#nav-menu .nav-link span {
	font-size: 1em;
}

.nav-link > a {
	line-height: 20px;
	overflow: hidden;
}

#nav-menu #link-list a:hover,
#nav-menu #link-list span:hover {
	cursor: inherit;
}

#link-list .line {
	margin: 15px 20px;
	border-top: 1px solid #ccc;
}

#link-list .line.search {
	margin: 0 20px 15px;
	border-top: 1px solid #ccc;
}

.nav-link.active .highlight {
	height: 100%;
	width: 4px;
	position: absolute;
	left: 0;
	background-color: #f78d1e;
}

.nav-link .title {
	text-transform: uppercase;
}

/* 
SIDEBAR SUBLINKS
----------------------------------------------
*/

.sub-links li {
	font-weight: 400;
	box-sizing: border-box;
}

.sub-links li.active {
	/*background-color: #E7E7E7;*/
	font-weight: 600;
	color: #555;
}

/* 
COLLAPSED SIDEBAR SUBMENUS
----------------------------------------------
*/

.nav-link ul {
	display: none;
	width: 240px;	
	background-color: #f7f8fa;
	line-height: 2em;
	color: #666;
}

.nav-link > ul > li {
	padding: 5px 0 5px 50px;
	font-size: 14px;
}

.nav-link > ul > li:hover {
	background-color: #eee;
}

#nav-menu.collapsed .nav-link {
	overflow: visible;
}

.collapsed .nav-link ul {
	display: none;
	width: 240px;
	position: absolute; 
	top: 0;
	left: 50px;
	background-color: #e6e7e8;
	line-height: 2em;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	z-index: 1000;
}

.collapsed .nav-link:hover ul {
	display: block !important;
}

.collapsed .nav-link.has-sub ul {
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-left: 1px solid #ccc;
}

.collapsed .nav-link ul li {
	padding: 5px;
	padding-left: 10px;
	height: 44px;
	text-transform: capitalize;
}

/* 
ICONS
----------------------------------------------
*/

.nav-link .icon {
	background-image: url("assets/spriteGrid2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
	display: block;
	margin: 10px 0 10px 0;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	left: 10px;
}

.nav-link .icon.dashboard {
	background-position: -7px -6px;
}

.nav-link .icon.reports {
	background-position: -7px -260px;
}

.nav-link .icon.class {
	background-position: -7px -49px;
}

.nav-link .icon.workshop {
	background-position: -7px -90px;
}

.nav-link .icon.appointment {
	background-position: -7px -133px;
}

.nav-link .icon.retail {
	background-position: -7px -301px;
}

.nav-link .icon.room {
	background-position: -7px -344px;
}

.nav-link .icon.home {
	background-position: -7px -6px;
}

.nav-link.active .icon.home {
	background-position: -49px -6px;
}

.nav-link.active .icon.reports {
	background-position: -49px -260px;
}

.nav-link.active .icon.class {
	background-position: -49px -49px;
}

.nav-link.active .icon.workshop {
	background-position: -49px -90px;
}

.nav-link.active .icon.appointment {
	background-position: -49px -133px;
}

.nav-link.active .icon.retail {
	background-position: -49px -301px;
}

.nav-link.active .icon.room {
	background-position: -49px -344px;
}

.nav-link .fa {
	font-size: 1.4em;
	/*color: rgba(0,0,0,0.5);*/
} 

/*.nav-link.active .fa {
	color: #08c;
}*/

/* 
SIDEBAR PIN NAV (AUTO SIDEBAR TOGGLE)
----------------------------------------------
*/

#nav-pin {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 2px;
	height: 11px;
	width: 11px;
	border: 1px solid #3399FF;
	border-radius: 50%;
}

#nav-pin.selected {
	background-color: #3399FF;
}

/* 
SIDEBAR TOGGLE BUTTON
----------------------------------------------
*/

#nav-menu .nav-toggle {
	display: block;
	padding: 4px 9px;
	cursor: pointer;
	border-radius: 3px;
	color: #999;
	cursor: pointer;
	position: absolute;
	top: auto;
	bottom: 25px;
	left: auto;
	right: 12px;
}

.collapsed .has-sub:after {
	opacity: 0;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub:after {
	font-family: FontAwesome;
	font-weight: 500;
	color: #08c;
	content: "\f104";
	display: block;
	position: absolute;
	right: 12px;
	top: 14px;
	opacity: 1;
	transform: rotate(0deg);
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub.down-arrow:after {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/* 
BOX CONTENT
---------------------------------------------
*/

.box-content {
	background-color: white;
	border: 1px solid #ddd;
	padding: 15px;
}

.box-content h4 {
	margin: 0;
}

.box-content hr {
	margin-top: 12px;
	margin-bottom: 12px;
}

#nav-menu .nav-icon {
	margin-right: 13px;
}

.collapsed .sub-links li:first-child {
	background-color: #ddd;
	color: #08c;
	font-size: 1.1em;
	font-weight: 600;
}

.collapsed .sub-links li:first-child {
	background-color: #ddd;
	color: #08c;
	font-size: 1.1em;
	padding: 8px;
	/* border-bottom: 1px solid #dedede; */
}

.collapsed .nav-link.active .sub-links li:first-child {
	font-weight: 600;
	background-color: #08c;
	color: white;
}

.nav-link i {
	font-size: 16px;
}

.search {

}

.sidebar-search input {
	border-radius: 0;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
}

.sidebar-search input:focus {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}