/* ==========================================================================
   DEBUGGING WIDGET
   ========================================================================== */

.menu-debugging {
	position: absolute;
	right: 0; bottom: 0;
	margin: auto;
	height: 200px;
	width: 300px;
	font-weight: 900;
	padding: 20px;
	border: 1px solid #555;
}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f2f7;
}

a, span, div {
	color: #666;
}

a:hover, a:focus {
	color: #555;
	text-decoration: none;
}

#main-content {
 	position: relative; 
	height: 100%;
	margin-left: 240px;
	background-color: inherit;
	z-index: 1000;
}

#main-content.expanded {
	margin-left: 50px;
}

.page-title {
	color: #444;
	text-transform: capitalize;
	font-size: 1.8em;
	font-weight: 300;
	margin: 0 0 0 15px;
	float: left;
	line-height: 50px;
}

.content-top {
	height: 60px;
}

ul {
	padding: 0; 
	list-style-type: none;
}

.row > div {
	margin: 8px 0;
}

/* ==========================================================================
   MAIN CONTENT HEADER
   ========================================================================== */

header a,
header i {
	color: #4683ea;
	cursor: pointer;
}

header a:hover,
header i: hover {
	color: white;
	cursor: pointer;
}

header#top-bar {
	height: 50px;
	width: 100%;
	padding-right: 60px;
	top: 0;
	font-size: 1.1em;
	background-color: white;
	margin-bottom: 10px;
}

header .brand {
	width: 250px;
	height: 50px;
	float: left;
}

header .brand .name {
	display: block;
	padding: 4px 0 0 10px;
	color: #4683ea;	
	font-size: 40px;
	font-family: 'Great Vibes', serif;
}

/* 
STAFF USER PANEL
----------------------------------------------
*/

#user-panel a,
#user-panel i {
	line-height: 50px;
}

#user-panel {
	float: right;
	position: relative;
	padding-right: 60px;
	text-decoration: none;
}

#current-user .name {
	font-weight: 700;
}

#user-panel > div {
	float: left;
	margin-right: 15px;
}

.cart-icon {
	position: absolute;
	overflow: hidden;
	top: 5px;
	right: 25px;	
	line-height: 50px;
	vertical-align: midde;
	z-index: 999;
}

.cart-icon .fa-shopping-cart {
	font-size: 1.8em;
}

.cart-wrapper {
	top: 10px;
	position: relative;
}

#cart-slider {
	display: block;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #dadfe1;
	overflow: hidden;
	z-index: 998;
}

/* ==========================================================================
   VERTICALNAV MENU
   ========================================================================== */

#nav-menu {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: #dadfe1;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#nav-menu.collapsed {
	width: 50px;
}

/* Links
   ========================================================================== */


#nav-menu .nav-link {
  width: 240px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;  
  white-space: nowrap;
  overflow: hidden;
}

#nav-menu .nav-link.active {
  font-weight: 700;
  width: 240px;
}

#nav-menu.collapsed .nav-link {
	width: 50px;
}

.nav-link > a,
.nav-link > .menu-link {
  position: relative;
  text-decoration: none;
  display: inline;
  color: #444;
  display: block;
  padding: 7px 15px;
  font-size: .96em;
  line-height: 25px;
  overflow: hidden;
}

#nav-menu .nav-link.active > a,
#nav-menu .nav-link.active span,
#nav-menu .nav-link.active .menu-link {
  color: white;
  box-sizing: border-box;
  background: #2980B9;
}

#nav-menu .nav-link:hover {
  background-color: #D0D5D7;
  text-decoration: none;
}

#nav-menu .nav-link.active > a:hover {
  background-color: #2980B9;
}

#nav-menu .nav-link span {
	font-size: 1em;
}

#nav-menu #link-list a:hover,
#nav-menu #link-list span:hover {
	cursor: inherit;
}

#link-list .line {
	margin: 15px 20px;
	border-top: 1px solid #ccc;
}

#link-list .line.search {
	margin: 0 20px 15px;
	border-top: 1px solid #ccc;
}

.nav-link.active .highlight {
	height: 100%;
	width: 4px;
	position: absolute;
	left: 0;
	background-color: #f78d1e;
}

.nav-link .title {
	text-transform: uppercase;
}

/* Sublinks
   ========================================================================== */

.sub-links li {
	font-weight: 400;
	box-sizing: border-box;
}

.sub-links li.active {
	font-weight: 600;
	color: #222;
}

/* Collapsed sidebar
   ========================================================================== */

.nav-link ul {
	display: none;
	width: 240px;	
	background-color: #f1f2f7;
	line-height: 2em;
	color: #666;
}

.nav-link > ul > li > a {
	display: block;
	padding-left: 51px;
	line-height: 35px;
	font-size: 14px;
}

.nav-link > ul > li:hover {
	background-color: #E4E5EA;
}

#nav-menu.collapsed .nav-link {
	overflow: visible;
}

.collapsed .nav-link ul {
	display: none;
	width: 240px;
	position: absolute;
	top: 0; 
	left: 50px;
	line-height: 2em;
	cursor: pointer;
	border-radius: 0 5px 8px 0;
	z-index: 1000;
}

.collapsed .nav-link:hover ul {
	display: block !important;
}

.collapsed .nav-link.has-sub ul {
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-left: 1px solid #f7f8fa;
	background-color: rgba(247, 248, 250, 0.93);
}

.collapsed .nav-link ul > li a {
	padding-left: 14px;
	text-transform: capitalize;
}

/* Sidebar Icongraphy
   ========================================================================== */

.nav-link .icon {
	background-image: url("assets/spriteGrid2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
	display: block;
	margin: 10px 0 10px 0;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	left: 10px;
}

.nav-link .icon.dashboard {
	background-position: -7px -6px;
}

.nav-link .icon.reports {
	background-position: -7px -260px;
}

.nav-link .icon.class {
	background-position: -7px -49px;
}

.nav-link .icon.workshop {
	background-position: -7px -90px;
}

.nav-link .icon.appointment {
	background-position: -7px -133px;
}

.nav-link .icon.retail {
	background-position: -7px -301px;
}

.nav-link .icon.room {
	background-position: -7px -344px;
}

.nav-link .icon.home {
	background-position: -7px -6px;
}

.nav-link.active .icon.home {
	background-position: -49px -6px;
}

.nav-link.active .icon.reports {
	background-position: -49px -260px;
}

.nav-link.active .icon.class {
	background-position: -49px -49px;
}

.nav-link.active .icon.workshop {
	background-position: -49px -90px;
}

.nav-link.active .icon.appointment {
	background-position: -49px -133px;
}

.nav-link.active .icon.retail {
	background-position: -49px -301px;
}

.nav-link.active .icon.room {
	background-position: -49px -344px;
}

.nav-link .fa {
	font-size: 1.4em;
	/*color: rgba(0,0,0,0.5);*/
} 

/* Pin Nav
   ========================================================================== */

#nav-pin {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 2px;
	height: 11px;
	width: 11px;
	border: 1px solid #3399FF;
	border-radius: 50%;
}

#nav-pin.selected {
	background-color: #3399FF;
}

/* Toggle Sidebar Open / Closed
   ========================================================================== */

#nav-menu .nav-toggle {
	display: block;
	padding: 4px 9px;
	cursor: pointer;
	border-radius: 3px;
	color: #999;
	cursor: pointer;
	position: absolute;
	top: auto;
	bottom: 25px;
	left: auto;
	right: 12px;
}

.collapsed .has-sub:after {
	opacity: 0;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub:after {
	font-family: FontAwesome;
	font-weight: 500;
	color: #4683ea;
	content: "\f104";
	display: block;
	position: absolute;
	right: 12px;
	top: 10px;
	opacity: 1;
	transform: rotate(0deg);
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.has-sub.active:after {
	color: white;
}

.has-sub.down-arrow:after {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/* 
BOX CONTENT
---------------------------------------------
*/

.box-content {
	padding: 15px;
	background-color: white;
}

.box-content h4 {
	margin: 0;
}

.box-content hr {
	margin-top: 12px;
	margin-bottom: 12px;
}

#nav-menu .nav-icon {
	margin-right: 14px;
}

.sub-links li:first-child {
	display: none;
}

.collapsed .sub-links li:first-child {
	display: block;
	background-color: #D0D5D7;
	color: #0173c5;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 39px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
} 

.collapsed .sub-links li:first-child > a {
	display: block;
	background-color: #D0D5D7;
	color: #0173c5;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 39px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.collapsed .nav-link.active .sub-links li:first-child a {
	color: white;
	font-weight: 600;
	border: 0;
	background: #2980B9;
	font-size: 1em;
}

.nav-link i {
	font-size: 16px;
}

.sidebar-search input {
	width: 100%;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.sidebar-search input:focus {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.brand-tile {
	position: relative;
	height: 50px;
	background-color: #f1f2f7;
	white-space: nowrap;
	overflow: visible;
}

#brand-content-wrapper {
	white-space: nowrap;
}

#brand-name {
	position: relative;
	top: 5px;
	left: 9px;
}

#brand-name a {
	color: #2980B9;
	font-size: 1.1em;
	font-weight: 600;
}

#main-content.cart-expanded {
	margin-right: 400px;
}

#cart-slider h2 {
	margin: 0;
	padding-left: 15px;
	color: #333;
	background-color: #f1f2f7;
	text-transform: capitalize;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 50px;
}

.client-lookup-icon {
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	z-index: 2;
}

.client-lookup-icon:focus {
	border: 0;
	box-shadow: 0;
	outline: none;
}

.client-lookup-icon .fa {
	float: right;
	line-height: 50px;
	cursor: pointer;
}

.client-lookup-wrapper {
	float: right;
	height: 48px;
	padding-right: 20px;
}

.client-lookup-wrapper input {
	position: relative;
	right: -35px;
	display: none;
	float: right;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: #f3f3f3;
	z-index: 1;
}

.form-group {
	height: 100%;
}

.client-lookup-wrapper .form-control {
	height: 38px;
	margin: 5px 0;
}

.client-lookup-wrapper .form-control:focus {
	box-shadow: none;
	border: 0;
}

/* 
HEADER CLIENT LOOKUP
----------------------------------------------
*/

input.form-control {
	width: 300px;
}

/* 
STAFF MEMBER NAMED + DROPDOWN
---------------------------------------------
*/

#staff-name-wrapper {
	position: absolute;
	top: 24px;
	left: 9px;
	height: 26px;
	color: #666;
	cursor: pointer !important;
	z-index: 1000;
}

.collapsed #staff-name-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#staff-name-wrapper > .dropdown {
	display: none;
}

#staff-name-wrapper:hover > .dropdown {
	display: block;
	min-width: 240px;
	top: 4px;
	left: -9px;
	background: white;
	border: 1px solid #999;
	border-radius: 2px;
	z-index: 1001;
}

#staff-name:after {
	font-family: FontAwesome;
	font-weight: 500;
	color: #4683ea;
	content: "\f0d7";
	padding-left: 4px;
}

#staff-initials {
	visibility: hidden;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 13px;
	margin: auto;
	color: #0e6ead;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 50px;
	vertical-align: middle;
	opacity: 0;
}

.collapsed #staff-initials {
	visibility: visible;
	opacity: 1;
	transition: opacity .8s;
}

.collapsed #brand-name,
 .collapsed #staff-name {
	opacity: 0;
	transition: opacity 0s;
}

#brand-name,
#staff-name {
	opacity: 1;
	transition: opacity .8s;
}

.collapsed #staff-initials:hover {
	cursor: pointer !important;
}

.collapsed #staff-name-wrapper:hover > .dropdown {
	top: 28px;
	left: 0;
}

.brand-tile .dropdown:before {
	content: "";
	position: absolute;
	top: -7px;
	left: 18px;
	height: 0;
	width: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #0066b0 ;
}

.dropdown li a {
	display: block;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.dropdown li a:hover {
	background-color: #efefef;
}

.dropdown li a:hover {
	cursor: pointer !important;
}

.dropdown hr {
	padding: 0;
	margin: 0;
}

.turquoise {
	color: #1abc9c;
}

.green {
	color: #2ecc71;
}

.blue {
	color: #3498db;
}

.violet {
	color: #9b59b6;
}

.midnight {
	color: #34495e;
}

.carrot {
	color: #e67e22;
}

.brick {
	color: #e74c3c;
}

.orange {
	color: #f1c40f;
}

/* ==========================================================================
   DASHBOARD PAGE
   ========================================================================== */


/* Notes Widget
   ========================================================================== */

#staff-notes:hover,
#staff-notes:focus {
	outline: 1px solid #ddd;
}
