<div id='checkout-wrapper'>
  <!--<div class='backdrop'></div>-->

  <div id='checkout-panel'>
    <h2 class='section-title'>
      Checkout
      <i class="fa fa-angle-right collapse-panel-arrow"></i>
    </h2>
  </div>
</div>