<div id='glance-menu' class=''>

  <div class='content'>    
    <ul>
		<li class='date-row'>
		Today, Sunday, Nov 9
		</li>

		<li class='day-content'>
			<ul>
				<li class='time-row'>
				9:00 AM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>

				<li class='time-row'>
				12:00 PM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>	
				
				<li class='time-row'>
				3:00 PM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>

				<li class='time-row'>
				5:00 PM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>
			</ul>		
		</li>
     
      <li class='date-row'>
		Tomorrow, Monday, Nov 10
		</li>

		<li class='day-content'>
			<ul>
				<li class='time-row'>
				9:00 AM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>

				<li class='time-row'>
				12:00 PM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>	
				
				<li class='time-row'>
				3:00 PM
				</li>

				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Staff M</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Client</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Lindsay C</span>
					  <span class='service'>Cut & Color</span>
					  <span class='client-name'> w/ Garrett</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Katy P</span>
					  <span class='service'>Bang Trim</span>
					  <span class='client-name'> w/ Tiffany</span>
					</a>
				</li>
				<li class='service-row'>
					<a href='#'>
					  <span class='staff-name'>Magnus S</span>
					  <span class='service'>Highlight</span>
					  <span class='client-name'> w/ Brittney</span>
					</a>
				</li>
			</ul>		
		</li>
    </ul>
  </div>
</div>