<div id='glance-menu' class=''>

  <div class='content'>    
    <ul>
      <li class='date-row'>
        Today, Sunday, Nov 9
      </li>

      <li class='time-row'>
        10:00 AM
      </li>

      <li class='service-row'>
        <span class='staff-name'>Lindsay C</span>
        <span class='service'>Cut & Color</span>
        <span class='client-name'> w/ Garrett</span>
      </li>
      <li class='service-row'>
        <span class='staff-name'>Lindsay C</span>
        <span class='service'>Cut & Color</span>
        <span class='client-name'> w/ Garrett</span>
      </li>
      <li class='service-row'>
        <span class='staff-name'>Lindsay C</span>
        <span class='service'>Cut & Color</span>
        <span class='client-name'> w/ Garrett</span>
      </li>
      <li class='date-row'>
        Tomorrow, Sundsay, Nov 10
      </li>
    </ul>
  </div>
</div>