<div id='multi-menu'> 
	<ul id='multi-tabs'>
	    <li class='schedule-tab selected'>
	    	Upcoming
	    </li>
	    <li class='checkout-tab'>
	      	Checkout
	    </li>
  </ul>

  <div id='multi-content-wrapper'>

	<div class='schedule active'>
		<%= render "layouts/multi_menu_views/schedule" %>
	</div>

	<div class='checkout'>

	</div>
  </div>
</div> 