<div id='nav-menu' class=''>
      <ul id='link-list'>

        <li class='brand-tile'>
          <div id='brand-name'>
            <a href='http://www.bluebirdsalon.com/' target='_blank'>LLUMINAIRE Salon</a>
          </div>

          <div id='staff-name-wrapper' class=''>
            <span id='staff-name'>Tony Stark</span>   
            <span id='staff-initials'>TS</span>

            <div class='dropdown'>
              <ul>
                <li>
                  <a>Edit Account</a>
                </li>
                <li>
                  <a>My Calendar</a>
                </li>  
                <li>
                  <a>Help Suite</a>
                </li>              
                <hr>
                <li>
                  <a>Log Out</a>
                </li>
              </ul>
            </div>
          </div>             
        </li>

        <li class='nav-link active'>
          <a href='#' name='dashboard'>  
            <i class='fa fa-tachometer nav-icon fa-lg'></i>            
            <span class='title'>dashboard</span>            
          </a>
          <ul class='sub-links dashboard'>  
            <li>dashboard</li>
          </ul>
        </li>

        <li class='nav-link has-sub'>
          <a href='#' name='appointments'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>appointments</span>
          </a>
          <ul class='sub-links appointments'>  
            <li>Appointments</li>
            <li>SLO Location</li>
            <li>Atascadero Location</li>
            <li>Paso Location</li>             
          </ul>
        </li>

        <li class='nav-link'>
          <a href='#' name=''>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>classes</span>
          </a>
          <ul class='sub-links classes'>  
            <li>classes</li>
          </ul>
        </li>    

        <li class='nav-link'>
          <a href='#' name='workshops'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>workshops</span>
          </a>
          <ul class='sub-links workshops'>  
            <li>workshops</li>
          </ul>
        </li>   

       <li class='nav-link'>
          <a href='#' name='classes'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>clients</span>
          </a>
          <ul class='sub-links clients'>  
            <li>clients</li>
          </ul>
        </li>               
                  
        <li class='line'></li>

        <!--<span>SETTINGS</span>-->

        <li class='nav-link'>
          <a href='#' name='retail'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>staff</span>
          </a>
          <ul class='sub-links staff'>  
            <li>staff</li>
          </ul>
        </li> 

        <li class='nav-link'>
          <a href='#' name='retail'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>services</span>              
          </a>
          <ul class='sub-links services'>  
            <li>services</li>
          </ul>
        </li>

        <li class='nav-link'>
          <a href='#' name='retail'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>products</span>              
          </a>
          <ul class='sub-links products'>  
            <li>products</li>
          </ul>
        </li>

        <li class='nav-link has-sub business'>         
          <a href='#' name='business'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>my business</span>              
          </a>
          <ul class='sub-links'>
            <li>My Business</li>
            <li>Reports</li>
            <li>Automated SMS</li>
            <li>Automated Emails</li>              
            <li>Advanced Settings</li>        
          </ul>
        </li>
        
        <li class='line'></li>

        <li class='nav-link has-sub business'>       
          <a href='#' name='business'>
            <i class='fa fa-calendar fa-lg nav-icon'></i>
            <span class='title'>MB Admin Only</span>              
          </a>
          <ul class='sub-links'>
            <li>Site Settings</li>
            <li>MAP Settings</li>            
            <li>UX Design Library</li>      
          </ul>
        </li>

      </ul>        

      <span id='nav-pin' name='nav-pin'></span>  
      <i class='fa fa-angle-left nav-toggle fa-lg nav-icon'></i>  
    </div>

    <div id='cart-slider'> 
    	<h2>Checkout</h2>
    </div> 